
#$fileOrDir | $destination | $platform | $type | tagsOrLabels
#types sitepackages, root, base, etc, tmp,bin
#tagslabels: e.g. config
#platform empty means generic

apps/hekad/cfg/ | /opt/heka/cfg/ | linux | root | config
